/* reset style */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: var(--bg-color);
}
h1,h2,h3, p {
    margin: 0;
}
hr {
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}

/* css variables */
:root {
    --bg-color: #F3F1FF;
    --primary-color: #562EFF;
    --gray-text: #9F9F9F;
    --white-text: #FFFFFF;
    --white-bg: #FFFFFF;
    --black-text: #000000;
    --review-color: #FFC014;
    --timer-color: #FF4A60;
}

/* header section stylise */
header {
    background-color: var(--primary-color);
}
.section-width {
    width: 1150px;
    margin: auto;
}
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 94px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 40px;
}
.logo a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    color: var(--white-text);
    font-size: 24px;
    font-weight: 500;
}
nav ul {
    list-style: none;
    display: flex;
    column-gap: 36px;
    align-items: center;
}
nav ul li a {
    font-size: 16px;
    text-decoration: none;
    color: var(--white-text);
    display: flex;
}
.header-profile {
    width: 51px;
    height: 51px;
}

/* top player styles */
.top-section, .course-section {
    background-color: var(--white-bg);
    padding: 30px;
    box-sizing: border-box;
    margin: 30px auto;
    border-radius: 5px;
}
.section-title {
    margin-bottom: 33px;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 29px;
}
.player {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.player h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--black-text);
}
.player img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
}

/* top blog section */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.blog {
    display: flex;
    column-gap: 30px;
}
.blog-thumbnail {
    width: 50%;
    display: flex;
}
.blog-thumbnail img {
    width: 100%;
    min-height: 117px;
    min-width: 177px;
}
.blog-title, .course-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 34px;
}
.blog-contents {
    width: 50%;
}
.blog-contents p {
    color: var(--gray-text);
}
.blog-contents .blog-author {
    color: var(--primary-color);
    text-decoration: none;
}

/* course section */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.course {
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}
.course-thumbnail {
    display: flex;
}
.course-thumbnail img {
    width: 100%;
}
.trainer {
    color: var(--timer-color);
    text-decoration: none;
    font-size: 15px;
}
.review .fa-star,.review .fa-star-half-stroke {
    color: var(--review-color);
    font-size: 14px;
}
.review span {
    font-size: 15px;
    color: var(--gray-text);
}
.course-footer {
    display: flex;
    justify-content: space-between;
}
.timer {
    background: #FFE4E8;
    border-radius: 20px;
    font-size: 15px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: var(--timer-color);
    font-weight: 600;
}
.timer i {
    font-size: 20px;
}